<header class="header">
	<!-- ENCABEZADO -->

	<img class="header__logo" src="/images/logo-mercado-liebre.svg" alt="logo mercadoliebre" />

	<div class="header__containerInput">
		<input class="header__search" type="text" placeholder="Buscar productos  " /><i
			class="searchIcon fas fa-search"
		></i>
	</div>

	<p class="header__description"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de credito</p>

	<!-- BARRA DE NAVEGACION -->

	<ul class="header__nav">
		<div class="header__nav1">
			<li><a href="">Ofertas</a></li>
			<li><a href="">Tiendas Oficiales</a></li>
			<li><a href="">Vender</a></li>
			<li><a href="">Ayuda</a></li>
		</div>
		<div class="header__nav2">
			<li>
				<a href="register">Crea tu cuenta <i class="far fa-id-card"></i></a>
			</li>
			<li>
				<a href="login">Ingresa <i class="fas fa-sign-in-alt"></i></a>
			</li>
			<li>
				<a href="">Mis compras <i class="fas fa-shopping-basket"></i></a>
			</li>
		</div>
	</ul>

	<div class="header__btncontainer">
		<i class="header-menu fas fa-bars"></i>
	</div>
</header>
