<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Mercado Liebre</title>
		<link rel="stylesheet" href="css/styles.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<header class="header">
			<!-- ENCABEZADO -->

			<img src="/images/logo-mercado-liebre.svg" alt="logo mercadoliebre" />
			<p>Buscar productos, marcas y mas</p>
			<p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de credito</p>

			<!-- BARRA DE NAVEGACION -->
			<ul>
				<li><a href="">Ofertas</a></li>
				<li><a href="">Tiendas Oficiales</a></li>
				<li><a href="">Vender</a></li>
				<li><a href="">Ayuda</a></li>
			</ul>
			<ul>
				<li>
					<a href="">Crea tu cuenta <i class="far fa-id-card"></i></a>
				</li>
				<li>
					<a href="">Ingresa <i class="fas fa-sign-in-alt"></i></a>
				</li>
				<li>
					<a href="">Mis compras <i class="fas fa-shopping-basket"></i></a>
				</li>
			</ul>
		</header>

		<img src="images/img-home-banner.jpg" alt="Cobra con todas las tarjetas" width="100%" />

		<!-- PRODUCTOS -->

		<h2 class="main__title">Basado en tu ultima visita</h2>

		<img src="images/img-cafetera-moulinex.jpg" alt="cafetera moulinex" />
		<div><i class="fas fa-truck"></i></div>
		<p>$6.770</p>
		<p class="product__discount">40% off</p>
		<h4>Cafetera Moulinex Dolce Gusto Lorem ipsum dolor sit amet.</h4>
		<hr />

		<img src="images/img-macbook-pro-2019.jpg" alt="macbook pro" />
		<div><i class="fas fa-truck"></i></div>

		<p>$230.000</p>
		<p class="product__discount">20% off</p>

		<h4>Macbook Pro 2019 Lorem ipsum, dolor sit amet</h4>
		<hr />

		<img src="images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10" />
		<div><i class="fas fa-truck"></i></div>

		<p>$70.500</p>
		<p class="product__discount">15% off</p>

		<h4>Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</h4>
		<hr />

		<img src="images/img-tv-samsung-smart.jpg" alt="tv smart samsung" />
		<div><i class="fas fa-truck"></i></div>

		<p>$34.000</p>
		<p class="product__discount">5% off</p>

		<h4>SmartTv Samsung 43" Lorem ipsum, dolor sit amet.</h4>
		<hr />

		<!-- PIE DE PAGINA -->

		<footer class="footer">
			<h4>Pagá con tarjeta o en efectivo</h4>
			<p>
				Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de pago. ¡Y siempre es
				seguro!
			</p>
			<h4>Envío gratis desde los $ 2.500</h4>
			<p>
				Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de
				MercadoPuntos.
			</p>
			<h4>Seguridad, de principio a fin</h4>
			<p>
				¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre
				protegid@.
			</p>
			<p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
		</footer>
	</body>
</html>
