<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<!-- <meta name="viewport" content="width=device-width " /> -->
		<title>Mercado Liebre</title>
	</head>
	<body>
		<img src="/images/logo-mercado-liebre.svg" alt="logo mercadoliebre"  />

		<!-- ENCABEZADO -->

		<p>Buscar productos, marcas y mas</p>
		<p>Comprá en cuotas y sin tarjeta de credito</p>

		<!-- BARRA DE NAVEGACION -->
		<ul>
			<li><a href="">Ofertas</a></li>
			<li><a href="">Tiendas Oficiales</a></li>
			<li><a href="">Vender</a></li>
			<li><a href="">Ayuda</a></li>
		</ul>
		<ul>
			<li><a href="">Crea tu cuenta</a></li>
			<li><a href="">Ingresa</a></li>
			<li><a href="">Mis compras</a></li>
		</ul>

		<img src="images/img-home-banner.jpg" alt="Cobra con todas las tarjetas" width="100%" />

		<!-- PRODUCTOS -->

		<h2>Basado en tu ultima visita</h2>

		<img src="images/img-cafetera-moulinex.jpg" alt="cafetera moulinex"   />

		<p>$6.770</p>
		<p>40% off</p>

		<h4>Cafetera Moulinex Dolce Gusto Lorem ipsum dolor sit amet.</h4>

		<img src="images/img-macbook-pro-2019.jpg" alt="macbook pro"   />

		<p>$230.000</p>
		<p>20% off</p>

		<h4>Macbook Pro 2019 Lorem ipsum, dolor sit amet</h4>

		<img src="images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10"   />

		<p>$70.500</p>
		<p>15% off</p>

		<h4>Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</h4>

		<img src="images/img-tv-samsung-smart.jpg" alt="tv smart samsung"    />

		<p>$34.000</p>
		<p>5% off</p>

		<h4>SmartTv Samsung 43" Lorem ipsum, dolor sit amet.</h4>

		<!-- PIE DE PAGINA -->

		<h4>Pagá con tarjeta o en efectivo</h4>
		<p>
			Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de pago. ¡Y siempre es
			seguro!
		</p>
		<h4>Envío gratis desde los $ 2.500</h4>
		<p>
			Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de
			MercadoPuntos.
		</p>
		<h4>Seguridad, de principio a fin</h4>
		<p>
			¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@.
		</p>
		<p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
	</body>
</html>
