<%-include ('partials/head') %> 
<%-include ('partials/header') %> 

		 

		<form action="index.html" class="login" method="">
			
	

			<input class="login__input" type="text" name="password" placeholder="Ingresa tu usuario">
			<input class="login__input" type="password" name="password" placeholder="Ingresa tu contraseña" required>

			<button class="login__submit" type="submit">Enviar</button>
				
			


		</form>

		</main>


		 >

		<!-- PIE DE PAGINA -->
<%-include ('partials/footer') %>