<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet"
    />
    <link rel="stylesheet" href="css/newsletter.css">
		<title>Nesletter</title>
	</head>
	<body>
		<header class="header">
		    <img class="header__img" src="images/logo-mercado-liebre.svg" alt="" />
    		<h1 class="header__title">Lorem ipsum dolor sit <br> amet consectetuer</h1>
		</header>
		<main class="main">
		    <p class="main__description">
    			Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
    			dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
    			suscipit lob- ortis nisl ut aliquip ex ea commodo consequat.
    		</p>
    		<p class="main__description">
    			Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
    			dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
    			suscipit lob- ortis nisl ut aliquip ex ea commodo consequat.
    		</p>
    		<hr />
    
    		<h4 class="main__h4">LOREM IPSUM DOLOR</h4>
    		<img src="images/Newsletter/banner_newsletter.png" alt="" />
    
    		<h2  class="main__h2">Lorem ipsum dolor sit amet consec- <br> tetuer</h2>
    		<a class="main__direction" href="">Lorem ipsum dolor -></a>
    
    		<hr />
    		<h4 class="main__h4">LOREM IPSUM DOLOR</h4>
    		<h2 class="main__h2">Lorem ipsum dolor sit amet consec- tetuer</h2>
    		<p class="main__description">
    			Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
    			dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper
    			suscipit lob- ortis nisl ut aliquip ex ea commodo consequat.
            </p>
            <hr>
            <ul class="main__listSocial">
                <li><a href="">Twitter</a></li>
                <li><a href="">Facebook</a></li>
                <li><a href="">Instagram</a></li>
                <li><a href="">GitHub</a></li>
            </ul>
    
            <p>Saludos,<br>
                Uri y Herni.</p>
            <hr>
    <footer class="footer">
        
               <p  >
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
            nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
            enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
            nisl ut aliquip ex ea commodo consequat.
               </p>
    </footer>
		</main>
	</body>
</html>
